body {
    font-family: Arial, sans-serif;
    background-color: #e0f7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #35b2fa;
    padding: 200px;
    border-radius: 100px;
    text-align: center;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.logo {
    display: flex;
    height: 100px;
   
}

.header h1 {
    color: #ffffff;
    font-size: 24px;
}

.form h2 {
    color: #ffffff;
    margin-bottom: 20px;
}

.form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.password-container {
    position: relative;
}

.password-container .show-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.form button {
    background-color: #007acc;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.form button:hover {
    background-color: #005f99;
}